*{
    border:0;
    margin:0;
  }

.background_header{
   /* border: 1px solid wheat; */
    position: relative;
    background-color: #1f4287;
    height: 150px;
}

.logo{
  /*  border: 1px solid wheat; */
    top: 23px;
    position: absolute;
    left: 150px;
}

.barras{
    /*border: 1px solid wheat; */
    position: relative;
    top: 40px;
    float: right;
    right: 230px;
}


.main{
    /*border: 1px solid wheat; */
    position: relative;
    top: 45px;
    float: right;
    right: 93px;
    color: #d6d6d6;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.second_header{
    background-color:#d6d6d6;
    position: relative;
    height: 60px;
}

.datos{
    top: 32px;
    left: 175px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #071e3d;
    position: absolute;
}

.name_box input{
    width: 180px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    position: absolute;
    top: 290px;
    float: left;
    left: 240px;
    padding-left: 6px;
    margin-bottom: 20px; 
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.name{
    position: absolute;
    left: 250px;
    top: 265px;
    color: #707070;
}

.apePat_box input{
    position: absolute;
    background-position: 30px;
    width: 150px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    top: 290px;
    float: left;
    left: 567px;
    padding-left: 6px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.AP{
    left: 575px;
    top: 265px;
    color: #707070;
    position: absolute
}

.apeMat_box input{
    position: absolute;
    background-position: 30px;
    width: 150px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    top: 290px;
    float: right;
    right: 300px;
    padding-left: 6px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.AM{
    right: 330px;
    top: 265px;
    color: #707070;
    position: absolute;
}

.adress_box input{
    position: absolute;
    background-position: 30px;
    width: 500px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    top: 390px;
    float: left;
    left: 240px;
    padding-left: 6px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.adress{
    left: 250px;
    top: 365px;
    color: #707070;
    position: absolute;
}

.correo_box input{
    position: absolute;
    background-position: 30px;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    top: 390px;
    float: right;
    right: 250px;
    padding-left: 6px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.correo{
    right: 330px;
    top: 365px;
    color: #707070;
    position: absolute;
}

.password_box input{
    position: absolute;
    background-position: 30px;
    width: 180px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    top: 490px;
    float: left;
    left: 240px;
    padding-left: 6px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.password{
    left: 250px;
    top: 465px;
    color: #707070;
    position: absolute;
}

.phone_box input{
    position: absolute;
    background-position: 30px;
    width: 120px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid black;
    top: 490px;
    float: left;
    left: 567px;
    padding-left: 6px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.phone{
    left: 575px;
    top: 465px;
    color: #707070;
    position: absolute
}

.sex_box input{
    position: absolute;
    background-position: 30px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid black;
    top: 525px;
    float: right;
    right: 300px;
    margin-bottom: 20px;
    font-size: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.sex{
    right: 300px;
    top: 495px;
    color: #707070;
    position: absolute;
}

.save{
    border-radius: 10px;
    background-color: #248499;
    color: white;
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    float: left;
    left: 865px;
    top: 570px;
}

.back{
    position: absolute;
    top: 576px;
    float: left;
    left: 1010px;
}