* {
  border: 0;
  margin: 0;
}
body {
  /* height: fit-content; */
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  font-family: 'Times New Roman', Times, serif;
  
}

.header{
  background-color: #1f4287;
  height: 145px;
  width: 100%;
}

.header__logo{
  position: relative;
  left: 50px;
  top: 25px;
  width: 240px;
  height: 100px;
}
.header__car--icon{
  position: absolute;
  right: 550px;
  top: 60px;
  cursor: pointer;
}

.car__nav{
  position: absolute;
  right: 400px;
  /* top: 600px; */
  margin-top: 45px;
  /* display: none;   */
  width: 400px;
  height: 400px;
  padding: 0px 20px;
  /* background: burlywood; */
  background: #fcfcfc;
  border: 1px solid #E1E1E1;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 100px;
  z-index: 2;
  display: none;
  overflow-y: scroll;
  
}
.is_activate-car{
  /* bottom: 1050px; */
  display: block;
  /* text-align: center; */
}

/* .car__list table{
  color: black;
  width: 270px;
  text-align: center;
} */
.car__list th{
  text-align: center;
  width: 270px;
  padding: 15px;
  border-bottom: 1px solid #000000;
}
td{
  padding: 0;
}

.car__details a{
  text-decoration:none;
  color: #1f4287;
  width: 250px;
  background: 1px solid #1f4287;  border-radius: 40px;
  margin: 20px;
  font-size: 15px;

  /* padding-right: 30px; */
}
.car__details .vaciar-carrito{
  text-decoration:none;
  /* background: #1f4287; */
  background: #21E6C1;
  width: 140px;
  height: 30px;
  color: #f6f6f6;
  
  /* border: 1px solid #1f4287;   */
  border: 1px solid #21E6C1;  
  border-radius: 20px;
  margin: 20px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  /* padding-right: 30px; */
}
.navCar__img img{
  width: 100px;
  height: 62px;
}

.header__burger{
  position: relative;
  float: right;
  line-height: 140px;
  margin-right: 80px;
  left: 20px;
  top: 10px;
}
.header__burger a{
  text-decoration: none; 
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}
.header__burger img{
  position: relative;
  top: 10px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

.header__nav{
  top: 145px;
  position: absolute;
  /* display: none; */
  
  /* float: right; */
  width: 300px;
  left: 1350px;
  transition: .4s;
  z-index: 2;
  float: right;
}

.is_activate{
  left: 1050px;
  /* text-align: center; */
}



.header__nav ul{
  float: right;
  list-style: none;
  padding: 0;
  position: relative;
  width: 300px;
  background-color: #1f4287;
  text-align: center;
  font-size: 25px;
  height:510px;
  
}
.header__nav li{
  margin-top: 35px;
  margin-bottom: 35px;
}

.header__nav a{
  text-decoration: none;
  color: #fcfcfc;
}


.main{
  background-image: url(../../vistas/Fondo\ cliente.jpg);
  /* background-image: url(../../vistas/Huesos.jpg); */
  background-repeat: repeat-y;
  /* background-position: cover; */
  background-size: cover;
  background-attachment: fixed;
}
.main--title{
  position: absolute;
  left: 575px;
  line-height: 80px;
  /* font-weight: 300; */
  font-size: 50px;
}
.main__row{
  /* display: inline-block; */
  position: relative;
  width: 965px;
  /* 960 */
  height: 415px;
  /* 415 */
  /* background-color: #ffffff; */
  top:80px;
  /* left: 350px; */
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 1;
}
.main__column{
  display: inline-block;
  margin-right: 22px;
  position: relative;
  width: 295px;
  height: 415px;
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
}

.main__card--img{
  width: 295px;
  height: 200px;
}

.main__card--info{
  /* text-align: left; */
  padding: 10px 20px;
}
.main__card--info h3{
  margin: 0px 0px 5px;
}
.main__card--info p{
  margin: 0px 0px 10px;
}
.main__card--info .price{
  font-weight: bold;
  position: absolute;
  top:330px
  /* padding-top: 25px; */
}
.card__button{
  width: 255px;
  height: 38px;
  /* position: relative; */
  border-radius: 10px;
  border: 1px solid #21E6C1;
  background-color: #21E6C1;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  top: 360px;
  font-size: 20px;
  /* margin-top: 20px; */
}
.footer{
    background-image: url(../../vistas/Fondo\ cliente.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  position: relative;
  height: 140px;
}