* {
  border: 0;
  margin: 0;
}
body {
  /* height: fit-content; */
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  font-family: 'Times New Roman', Times, serif;
  
}

.header{
  background-color: #1f4287;
  height: 145px;
  width: 100%;
}

.header__logo{
  position: relative;
  left: 50px;
  top: 25px;
  width: 240px;
  height: 100px;
}
.header__car--icon{
  position: absolute;
  right: 550px;
  top: 60px;
}

.car__nav{
  position: absolute;
  right: 450px;
  margin-top: 45px;
  display: none;  
  width: 270px;
  height: 300px;
  background: burlywood;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 100px;
  z-index: 2;
  
}

/* .car__list table{
  color: black;
  width: 270px;
  text-align: center;
} */
.car__list th{
  text-align: center;
  width: 270px;
}

.header__car a{
  text-decoration:none;
  color: #ffffff;
  width: 250px;
  background: 1px solid #1f4287;  border-radius: 40px;
}

.header__burger{
  position: relative;
  float: right;
  line-height: 140px;
  margin-right: 80px;
  left: 20px;
  top: 10px;
}
.header__burger a{
  text-decoration: none; 
  color: #ffffff;
  font-size: 30px;
  cursor: pointer;
  top: 10px;
  -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}
.header__burger img{
  position: relative;
  top: 10px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
}

.header__nav{
  top: 145px;
  position: absolute;
  /* display: none; */
  
  /* float: right; */
  width: 300px;
  left: 1350px;
  transition: .4s;
  z-index: 2;
  float: right;
}
/* 245 */
.is_activate{
  left: 1050px;
  /* text-align: center; */
}

.header__nav ul{
  float: right;
  list-style: none;
  padding: 0;
  position: relative;
  width: 300px;
  background-color: #1f4287;
  text-align: center;
  font-size: 25px;
  height:510px;
  
}
.header__nav li{
  margin-top: 35px;
  margin-bottom: 35px;
}

.header__nav a{
  text-decoration: none;
  color: #fcfcfc;
}


.main{
  background-image: url(../../vistas/Fondo\ cliente.jpg);
  /* background-image: url(../../vistas/Huesos.jpg); */
  background-repeat: repeat-y;
  /* background-position: cover; */
  background-size: cover;
  background-attachment: fixed;
  
  /* display: flex; */
  /* visibility: visible; */
}
.main--title{
  position: absolute;
  left: 575px;
  line-height: 80px;
  /* font-weight: 300; */
  font-size: 50px;
}
.main__row{
  /* display: inline-block; */
  position: relative;
  width: 965px;
  /* 960 */
  height: 415px;
  /* 415 */
  /* background-color: #ffffff; */
  top:80px;
  /* left: 350px; */
  margin: 0 auto;
  margin-bottom: 10px;
  z-index: 1;
}
.main__column{
  display: inline-block;
  margin-right: 22px;
  position: relative;
  width: 295px;
  height: 415px;
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  /* box-shadow: 2px 2px 2px 1px rgba(0,0,0,.5); */
}

.main__card--img{
  width: 295px;
  height: 200px;
}

.main__card--info{
  /* text-align: left; */
  padding: 10px 20px;
}
.main__card--info h3{
  margin: 0px 0px 5px;
}
.main__card--info p{
  margin: 0px 0px 10px;
}
.main__card--info .price{
  font-weight: bold;
  position: absolute;
  top:330px
  /* padding-top: 25px; */
}
.card__button{
  width: 255px;
  height: 38px;
  /* position: relative; */
  border-radius: 10px;
  border: 1px solid #21E6C1;
  background-color: #21E6C1;
  color: #FFFFFF;
  cursor: pointer;
  position: absolute;
  top: 360px;
  font-size: 20px;
  /* margin-top: 20px; */
}

/* 
.apartado1 {
  background-color: #1f4287;
  height: 170px;
}

.imag {
  margin-left: 230px;
  border-color: blanchedalmond;
  border-style: solid;
}
.posicion_logo {
  float: left;
  padding-top: 10px;
}
ul {
  list-style-type: none;
  margin-right: 550px;
  padding: 0;
  overflow: hidden;
}

li {
  float: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.userR {
  border-radius: 20px;
  border: 1px solid #9fd3c7;
  margin-right: 100px;
  background-color: #9fd3c7;
}
.letra_negritas {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  padding-top: 80px;
  float: right;
}

table,
tr {
  background-color: #ffffff;
  border: #b6b3b3 1px solid;
  border-collapse: collapse;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align: center;
}
th {
  color: blanchedalmond;
  font-weight: 100;
  height: 10px;
  text-align: center;
  font-size: 30px;
  background-color: #278ea5;
  width: 700px;
}
tr {
  height: 70px;
}
#tabla {
  width: 1100px;
  margin-right: 450px;
  margin-left: auto;
  margin-top: 50px;
}

#main {
  width: 1800px;
  margin-right: auto;
  margin-left: auto;
}
#blog {
  margin-right: 400px;
}
.content__button {
  border-radius: 5px;
  border: 1px solid #278ea5;
  background-color: #278ea5;
  position: relative;

  color: #ffffff;
} */
