 *{
  border:0;
  margin:0;
}
#main {
  background-image: url(../img/hero.png);
  height: 700px;
  z-index: 0;
}

.logo{margin-left: 80px; padding-top: 20px;}

.letra_patitas{
  color: #21E6C1;
  margin-right: 80px;
  float: right;
  font-size: 50px;
  padding-top: 25px;
}

.letra_negritas{ 
  padding-top: 80px;
  float: right;
  margin-right: -320px;
  font-size: 35px;;
}
/* .nav {
  width: 98%;
  float: left;
  height: 55px;
  padding: 0 1% 0 1%;
  background-color: #142D4C;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {float: right;}

li a {
  display: block;
  color: white;
  text-align: center;
  margin-top: 10px;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.userR {
  border-radius: 20px;
  border: 1px solid #9FD3C7;
  margin-right: 30px;
  background-color: #9FD3C7;
}

.banner {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  height: 450px;
  background-position: center;
}

/*Sección de las imagenes*/
.section_two{
  background-color: #1f4287;
  height: 1200px;
}

.info{
  position: relative;
  background-color: #fcfcfc;
  margin-left: 50px;
  margin-right: 50px;
  top: 75px;
  margin-block-end: 10px;
  height: 1065px;
}

.second_name{
  color: #1f4287;
  font-size: 50px;
  padding-top: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.second_subname{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.tienesMascota_imagen{
  margin-left: 100px;
  margin-top: 100px;
}

.TM{
  margin-left: 220px;
  margin-right: 730px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -130px;
}

.BClientes_imagen{
  float: right;
  margin-right: 470px;
  margin-top: -115px;
}

.BC{
  margin-left: 750px;
  margin-right: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -128px;
  height: 130px;
}

.tienesVeterinaria_imagen{
  margin-left: 100px;
  margin-top: 200px;
}

.TV{
  margin-left: 220px;
  margin-right: 650px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -125px;
}

.BVeterinarios_imagen{
  float: right;
  margin-right: 470px;
  margin-top: -115px;
}

.BV {
  margin-left: 750px;
  margin-right: 80px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: -110px;
  height: 110px;
}

.blog{
  height: 200px;
  padding-top: 50px;
  top: 100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}