*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  padding: 0;
  margin: 0;
}
body{
  background:url(../img/login.png) no-repeat center top;
  overflow: hidden;
}
.header__logo{
  width: 242px;
  height: 100px;
  position: relative;
  left: 125px;
  top: 25px;
}

.content__icon{
  height: 133px;
  position: relative;
  left: 615px;
  top: -40px;
  
}

.content__title{
  position: relative;
  left: 556px;
  font-size: 44px;
  font-weight: bold;
  color: #FFFFFF;
  top: -20px;
}

.content__input--user input{
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: 30px;
  width: 437px;
  padding-left: 90px;
  border-radius: 15px;
  border: 1px solid #dfe1e5;
  height: 54px;
  position: relative;
  left: 420px;
  margin-bottom: 20px;
  font-size: 29px; 
}


.content__input--password input{
  background-image: url(../img/password.svg);
  background-repeat: no-repeat;
  background-position: 30px;
  width: 437px;
  padding-left: 90px;
  border-radius: 15px;
  border: 1px solid #dfe1e5;
  height: 54px;
  position: relative;
  left: 420px;
  margin-bottom: 20px;
  font-size: 29px; 
}

.content__button{
  width: 527px;
  height: 71px;
  border-radius: 15px;
  border: 1px solid #1f4287;
  background-color: #1F4287;
  position: relative;
  left: 420px;
  margin-bottom: 40px;
  font-size: 30px;
  color: #FFFFFF;
}

.content__register{
  font-size: 20px;
  color: #FFFFFF;
  position: relative;
  left: 513px;
  top: -20px;
  /* font-weight: normal; */
}
