*{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
h1{
  padding: 0;
  margin: 0;
}
body{
  background:url(../img/login.png) no-repeat center top;
  overflow: hidden;
}
.header__logo{
  width: 242px;
  height: 100px;
  position: relative;
  left: 125px;
  top: 25px;
}

.content__icon{
  height: 133px;
  position: relative;
  left: 615px;
  top: -40px;
  
}

.content__title{
  position: relative;
  left: 556px;
  font-size: 44px;
  font-weight: bold;
  color: #FFFFFF;
  top: -20px;
}