*{
    border:0;
    margin:0;
  }

.apartado1{
    background-color: #1f4287;
    height: 170px;}

.imag{
    margin-left: 100px;
    border-color: blanchedalmond;
    border-style: solid;
    margin-right: 500px;
}

.nav {
    padding-top: 70px;
}

.userR {
    float: right;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d6d6d6;
    font-size: 25px;
  }

.logo{
    float: left;
    margin-right: 150px;
    color: #21E6C1;
    font-size: 25px;
    padding-top: 100px;
}

.posicion_logo{
    float: left;
    padding-top: 10px;
}

.elegir_registro{
    background-color: #d6d6d6;
    height: 530px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
}

.elige_modo{
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    color:#1f4287;
    font-size: 60px;
}

.posicion_veterinario{
    float: left;
    padding-top: 50px;
    margin-left: 300px;
    font-family: 'Times New Roman', Times, serif;
    color:#1f4287;
    font-size: 30px;
}

.posicion_dueño{
    float: right;
    padding-top: 50px;
    margin-right: 300px;
    font-family: 'Times New Roman', Times, serif;
    color:#1f4287;
    font-size: 30px;
}