*{
    border:0;
    margin:0;
  }

.apartado1{
    background-color: #1f4287;
    height: 180px;}


.imag{
    margin-left: 100px;
    border-color: blanchedalmond;
    border-style: solid;
}
.posicion_logo{
    float: left;
    padding-top: 10px;
}



.elegir_registro{
    background-color: #d6d6d6;
    height: 200px;
}


.posicion_veterinario{
    float: left;
    margin-left: 300px; 
    padding-top: 100px;
}

.posicion_dueño{
    float: right;
    margin-right: 300px; 
    padding-top: 100px;
}