body{
  overflow-x: hidden;
  background-image: url(../../img/Fondo\ cliente1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.fondo2 p {
  position: relative;
  left: 180px;
  top: 26px;
  font-size: 50px;
  z-index: 2;
}
#table{ 
  width: 1022px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  background-color: #ffffff;
}
.table-group{
  width: 1022px;
  margin: 0 auto;
  border-collapse: collapse;
}
.table-group__head{
  color: #ffffff;
  font-weight: 100;
  height: 10px;
  text-align: center;
  font-size: 35px;
  background-color: #278EA5;
  width: 700px;
}
.table-group__data{
  font-weight: 100;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}
.table-group__data td{
  padding:10px 0px;
}
.table-group__data td ol{
  list-style: none;
  padding: 0;
  margin: 0;
}